/**
 * Plugin Name: Ultimate Before After Slider
 * Plugin URI: https://www.isaumya.com/
 * Author: Saumya Majumder
 */
i.mce-i-ubas-icon:before {
	content: "\f169";
	font-family: dashicons;
	font-size: 22px;
}
span.mce-ubas-media-button {
	font-family: dashicons;
	cursor: pointer;
	width: 28px;
	height: 28px;
	display: block;
	-webkit-font-smoothing: antialiased;
	float: right;
	background-color: #F7F7F7;
	border: 1px solid #DDD;
	font-size: 22px;
	color: #777;
	position: relative;
	line-height: 32px;
	text-align: center;
}